@mixin animate-background($attribute, $value, $duration: 1.25s) {
    #{$attribute}: $value;
    transition: $attribute $duration ease-in-out;
}

@mixin animate-links {
    animation-duration: 1.25s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes width-animation {
    0% {
        width: 0%;
        border-color: transparent;
    }
    100% {
        width: 100%;
    }
}

@keyframes height-animation {
    0% {
        height: 0%;
        border-color: transparent;
    }
    100% {
        height: 100%;
    }
}

@keyframes hide-width {
    0% {
        width: 100%;
    }
    99% {
        width: 1%;
    }
    100% {
        width: 0%;
        border-color: transparent;
    }
}

@keyframes hide-height {
    0% {
        height: 100%;
    }
    99% {
        height: 1%;
    }
    100% {
        height: 0%;
        border-color: transparent;
    }
}

.landing {
    .menu-visible {
        .top-right,
        .bottom-left {
            @include animate-links;
            animation-name: width-animation;
            border-width: 1px;
        }
        .top-left,
        .bottom-right {
            @include animate-links;
            animation-name: height-animation;
            border-width: 1px;
        }
        .fade-in {
            @include animate-background(opacity, 1, 0.75s);
        }
    }
}

.landing-background {
    background-size: "cover";
    background-position: "center";
}

.landing.blur {
    .landing-background {
        @include animate-background(filter, blur(10px));
    }
}
